* {
    box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(196, 196, 196);
  --main-txt-color: ;
  --box-bg-color: rgb(237, 244, 245);
 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
       
}   

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100vh;
 height: 100vh;
 margin-left: auto;
 margin-right: auto;
  
} 

.title {
  display: flex;
  width: 100%;
}

.letter {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

/*main > div.zodiac-title {
 display: flex;
 flex-direction: column;
 

}
.zodiac-title > img {
 width: 150px;
}*/

main > fieldset {
  
  width: 500px;
  height: 500px;
  background-color: var(--box-bg-color);;
}

fieldset > input, label {
    
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 500px;
   height: 500px;
   
}

button {
  margin-top: 50px;
  display: flex;
  text-align: center;
  color: white;
  border: black 2px solid;
  border-radius: 4px;
  background-color: gray;
  padding: 3px 5px 3px 5px ;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
 }

@media screen and (min-width: 600px) {
  main {
    display: flex;
    align-items: center;
    
  }
  main > div.zodiac-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    
  }
}
