* {
    box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(196, 196, 196);
  --main-txt-color: ;
  --box-bg-color: rgb(237, 244, 245);
 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
  }   

.background {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
  
} 

#game {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.icon {
  width: 100px;
  height: 100px;
  position: absolute;
}


.title {
  display: flex;
  width: 100%;
}

.letters {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  
}

main > div.zodiac-title {
 display: flex;
 flex-direction: column;
}

input[type="image"] {
  width: 150px;;
}

main > fieldset {
  
  width: 500px;
  height: 500px;
  background-color: var(--box-bg-color);;
}

.hidden {
  display: none;
}
  

.box.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   width: 500px;
   height: 500px;
   
}

button {
  margin-top: 50px;
  display: flex;
  text-align: center;
  color: white;
  border: black 2px solid;
  border-radius: 4px;
  background-color: gray;
  padding: 3px 5px 3px 5px ;
}

button:hover {
  cursor: pointer;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
 }

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    align-items: center;
    
  }
  main > div.zodiac-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    
  }
}


